# CPP Compiled Object files
*.o

# CPP Precompiled Headers
*.gch
*.pch

# CPP Compiled Dynamic libraries
*.so
*.dll

# CPP Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.out

# Auto-save files
*~

# Unused rep directories
demo-qt\
demo-qvtk\

# Copyright files
COPYING.txt

